In [0]:
%sh
python -m pip install kaggle

In [1]:
%sh
export KAGGLE_USERNAME=natalyahaimova
export KAGGLE_KEY=34e46cb7757848d3ab4ea01d5becfcc1
mkdir -p /home/hduser/vgsales
cd /home/hduser/vgsales
kaggle datasets files gregorut/videogamesales
kaggle datasets download gregorut/videogamesales

In [2]:
%sh
cd /home/hduser/vgsales
unzip videogamesales.zip
rm videogamesales.zip
ls -la

In [3]:
%sh
hdfs dfs -put /home/hduser/vgsales /user/hduser
hdfs dfs -ls /user/hduser/vgsales

In [4]:
%hive
CREATE TABLE vgsales(Rank INT, Name STRING, Platform STRING, YEAR INT, Genre STRING, Publisher STRING, NA_Sales FLOAT, EU_Sales FLOAT, JP_Sales FLOAT, Other_Sales FLOAT, Global_Sales FLOAT)
    COMMENT 'Information on vasales'
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
    TBLPROPERTIES('skip.header.line.count'='1')

In [5]:
%hive
SHOW TABLES;

In [6]:
%hive
LOAD DATA INPATH '/user/hduser/vgsales/vgsales.csv' INTO TABLE vgsales;

In [7]:
%sh
echo "%table"
hdfs dfs -cat /user/hive/warehouse/vgsales/vgsales.csv | tr ',' '\t'

In [8]:
%hive
SELECT count(*) FROM vgsales;

In [9]:
%hive
// самая продаваемая игра за все время
SELECT rank, name, global_sales FROM vgsales ORDER BY global_sales DESC LIMIT 1;

In [10]:
%sh
hdfs dfs -ls /user/hduser/vgsales

In [11]:
%sh
hdfs dfs -put /home/hduser/vgsales/vgsales.csv /user/hduser/vgsales
hdfs dfs -ls /user/hduser/vgsales

In [12]:
%spark
val df=sqlContext
    .read
    .format("csv")
    .option("header", "true")
    .option("inferSchema", "true")
    .load("/user/hduser/vgsales/vgsales.csv")
    
df.printSchema()
df.show(5)

In [13]:
%spark
df.createOrReplaceTempView("vgsales_tmp")

In [14]:
%spark

In [15]:
%spark
// самая популярная платформе в регионе NA

val sqlDF1 = spark.sql("SELECT Platform, sum(NA_Sales) as NA_Sales FROM vgsales_tmp GROUP BY Platform ORDER BY NA_Sales DESC LIMIT 1")

sqlDF1.show()

In [16]:
%spark
// самая популярная платформе в регионе EU

val sqlDF2 = spark.sql("SELECT Platform, sum(EU_Sales) as EU_Sales FROM vgsales_tmp GROUP BY Platform ORDER BY EU_Sales DESC LIMIT 1")

sqlDF2.show()

In [17]:
%spark
// самая популярная платформе в регионе JP

val sqlDF3 = spark.sql("SELECT Platform, sum(JP_Sales) as JP_Sales FROM vgsales_tmp GROUP BY Platform ORDER BY JP_Sales DESC LIMIT 1")

sqlDF3.show()

In [18]:
%spark
// самый популярный жанр в регионе NA

val sqlDF4 = spark.sql("SELECT Genre, sum(NA_Sales) as NA_Sales FROM vgsales_tmp GROUP BY Genre ORDER BY NA_Sales DESC LIMIT 1")

sqlDF4.show()

In [19]:
%spark
// самый популярный жанр в регионе EU

val sqlDF5 = spark.sql("SELECT Genre, sum(EU_Sales) as EU_Sales FROM vgsales_tmp GROUP BY Genre ORDER BY EU_Sales DESC LIMIT 1")

sqlDF5.show()

In [20]:
%spark
// самый популярный жанр в регионе JP

val sqlDF6 = spark.sql("SELECT Genre, sum(JP_Sales) as JP_Sales FROM vgsales_tmp GROUP BY Genre ORDER BY JP_Sales DESC LIMIT 1")

sqlDF6.show()

In [21]:
%spark
// годы

val years = spark.sql("SELECT Year FROM vgsales_tmp WHERE Year != 0 GROUP BY Year ORDER BY Year")

years.show(40)

year_user = `${Year=2018}`

In [23]:
%spark.sql
// самый популярный жанр в конркретный год

SELECT Year, Genre, sum(Global_Sales) as Global_Sales FROM vgsales_tmp WHERE Year == '1986' GROUP BY Year, Genre ORDER BY Global_Sales DESC LIMIT 1